
<div id="posts" class="transitions-enabled">

  <% @posts.each do |post| %>
    <div class="post-box col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="panel panel-default shadow-on-hover">
        <%= image_tag post.image.url(:original) if post.image.present? %>
        <% if post.video_link.present? %>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.youtube.com/embed/<%= extract_youtube_video_id(post.video_link) %>?modestbranding=1&autohide=1&showinfo=0" allowfullscreen></iframe>
          </div>
        <% end %>
        <div class="panel-body">
          <h3>
            <%= post.title %>
          </h3>
          <p>
            <%= post.subtitle if post.subtitle.present? %>
          </p>
          <%= link_to post_path(post) do %>
            <div class="text-right">
              read more <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
            </div>
          <% end %>
          <% if current_user %>
            <%= link_to edit_post_path(post) do %>
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            <% end %>
            <%= link_to post, method: :delete,
                           data: { confirm: "You sure?" }  do %>
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  
</div>
